<div class="bg-white shadow-sm py-6 rounded-lg">
  <div class="flex justify-between mb-3 px-8">
    <h1 class="text-2xl tracking-wide font-medium"><%= @project.name %></h1>
    <%= link_to "Back", projects_path, class: "ml-2 rounded-md px-3.5 py-2 bg-gray-100 hover:bg-gray-50 inline-block font-normal" %>
  </div>

  <div class="border-b-2 border-gray-100"></div>

  <div class="flex justify-end items-center gap-3 px-8 mt-5">
    <div data-controller="submitter">
      <%= form_with model: @project, url: project_path(@project), method: :patch do |f| %>
        <div class="flex gap-2 items-center">
          <p class="text-sm text-gray-00">Close</p>
          <%= f.check_box :closed, data: { action: "click->submitter#submit" } %>
        </div>
        <%= f.button "Update", data: { submitter_target: "button" }, class: "hidden" %>
      <% end %>
    </div>

    <% if @project.closed %>
      <div class="bg-red-100 text-sm text-red-800 px-4 py-1 rounded-full">Closed</div>
    <% else %>
      <div class="bg-green-100 text-sm text-green-700 px-4 py-1 rounded-full">Open</div>
    <% end %>
  </div>

  <div class="px-8">
    <% @project.comments.each do |comment| %>
      <%= render "comments/comment", comment: comment, project: @project %>
    <% end %>
  </div>

  <div class="mt-10 px-8">
    <%= render "comments/form", comment: Comment.new, url: project_comments_path(@project) %>
  </div>
</div>
